body {
  background-color: #00FF9B;
  margin: 0;
  padding: 0;
}

#content {
  width: 100vw;
  height: 100vh;
  background-color: white;
  margin-top: 10vh;
  
  border-radius: 30px 30px 0 0;
  padding-top: 70px;
}

#sign-in {
  font-weight: 500;
  margin-top: 7vh;
  margin-left: 3vw;
  font-size: 9vh;
  letter-spacing: 3px;
}


#divider {
  background-color: black;
  width: 70vw;
  border-color: black;
  height: 2px;
  /* margin-left: 0vh; */
  margin-left: 3vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 33vw;
  height: 10vh;
  margin-bottom: 80px;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  font-size: 30px;
  transition-property: all;
  transition-duration: 0.5s
}

.input:focus {
  outline: none;
  border-bottom-color:#93FF00;
}

::placeholder {
  color:#BFCAB1;
  font-weight: 200;
  text-align: left;
}

.sign-in-button {
  width: 128px;
  height:35px;
  background-color: #00FF9B;
  border-color: #00FF9B;
  border-radius: 10px  10px 10px 10px;
  margin: 10vh;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.9px;
}